<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content about">
        {{>header}}
        </div>
            <p>This app is built by Molly Boyle.</p>
            <p>If you're interested in connecting, you can <a href="https://www.linkedin.com/in/molly-boyle/">find me on LinkedIn</a></p>
        </div>

    </div>
    {{>footer}}
</body>

</html>